<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controlador.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorProductoCrear</servlet-name>
        <servlet-class>controlador.AdministradorProductoCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorUsuarioCrear</servlet-name>
        <servlet-class>controlador.AdministradorUsuarioCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorProductoEditar</servlet-name>
        <servlet-class>controlador.AdministradorProductoEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorProductoEditarDescripcion</servlet-name>
        <servlet-class>controlador.AdministradorProductoDescripcionEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorUsuarioEditar</servlet-name>
        <servlet-class>controlador.AdministradorUsuarioEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorUsuarioBorrar</servlet-name>
        <servlet-class>controlador.AdministradorUsuarioBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controlador.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRedirect</servlet-name>
        <servlet-class>controlador.LoginRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>controlador.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorProductoBorrar</servlet-name>
        <servlet-class>controlador.AdministradorProductoBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorArticuloEditar</servlet-name>
        <servlet-class>controlador.AdministradorArticuloEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorArticuloBorrar</servlet-name>
        <servlet-class>controlador.AdministradorArticuloBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorArticuloAgregar</servlet-name>
        <servlet-class>controlador.AdministradorArticuloAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorDescripcionAgregar</servlet-name>
        <servlet-class>controlador.AdministradorDescripcionAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorDescripcionEditar</servlet-name>
        <servlet-class>controlador.AdministradorDescripcionEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorDescripcionBorrar</servlet-name>
        <servlet-class>controlador.AdministradorDescripcionBorrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorProductoCrear</servlet-name>
        <url-pattern>/administradorProductoCrear.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorUsuarioCrear</servlet-name>
        <url-pattern>/administradorUsuarioCrear.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorProductoEditar</servlet-name>
        <url-pattern>/administradorProductoEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorUsuarioEditar</servlet-name>
        <url-pattern>/administradorUsuarioEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorProductoEditarDescripcion</servlet-name>
        <url-pattern>/administradorProductoDescripcionEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorUsuarioBorrar</servlet-name>
        <url-pattern>/administradorUsuarioBorrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRedirect</servlet-name>
        <url-pattern>/loginRedirect.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/forgotPass.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorProductoBorrar</servlet-name>
        <url-pattern>/administradorProductoBorrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorArticuloEditar</servlet-name>
        <url-pattern>/administradorArticuloEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorArticuloBorrar</servlet-name>
        <url-pattern>/administradorArticuloBorrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorArticuloAgregar</servlet-name>
        <url-pattern>/administradorArticuloAgregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorDescripcionAgregar</servlet-name>
        <url-pattern>/administradorDescripcionAgregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorDescripcionEditar</servlet-name>
        <url-pattern>/administradorDescripcionEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorDescripcionBorrar</servlet-name>
        <url-pattern>/administradorDescripcionBorrar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
