#nav-panel-heading{
    padding-bottom: 0px;
    border-bottom: none;
}

#nav-tabs-menu{
    border-bottom: none;
}

/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
        /*background-color: #3071a9;*/
        background-color: #609dd2;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}

#menu{
        
        width:10px;
        height:10px;
        height:auto;
        border-bottom:none;
        border-left:solid 1px;
}

#menu img{
    height:100px;
    width:100px;      
}

#cartStyle{
    text-align: center;
}

ul.products li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

 ul.products {
    width: 80%;
    margin: auto;
}

div.thumb{
    height: 400px;
}